.callback {
  background: linear-gradient(
    180deg,
    #b1e3b6 0%,
    rgba(255, 186, 11, 0.425) 100%
  );
  display: flex;
  padding: 320px 85px 400px 85px;
  flex-direction: column;
  align-items: center;
  gap: 160px;
}

.callback-text {
  color: var(--Light-Text-Primary, rgba(0, 0, 0, 0.87));
  font-feature-settings: "clig" off, "liga" off;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.25px;
}

.callback-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 101px;
}
