.Login {
  background: linear-gradient(
    180deg,
    #b1e3b6 0%,
    rgba(255, 186, 11, 0.425) 100%
  );
  display: flex;
  padding: 320px 85px 400px 85px;
  flex-direction: column;
  align-items: center;
  gap: 160px;
}
.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 101px;
}
