/* .header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 100px;
} */

.top-search {
  display: flex;
  width: 100%;
  padding: 16px 32px;
  justify-content: stretch;
  align-items: center;
  gap: 8px;
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.3);
}
#input-with-sx {
  width: 100%; /* Set the width to 100% to fill the container */
}
