.search-overlay {
  position: absolute;
  top: 308px; /* Adjust the top position as needed */
  right: 220x;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(16px);
  z-index: 1000; /* Ensure it is on top of other content */
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.input-container {
  display: flex;
  width: 330px;
  padding: 10px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
}
