.container {
    font-family: 'Arial', sans-serif;
    background:rgba(255, 255, 255, 0.3);
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    max-width: 276px;
    margin: auto;
}

.calendar-container {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center;     /* 수직 중앙 정렬 */
}

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .title {
  }
  
  .add-button {
    background: transparent; 
    border: none;            
    padding: 0;             
    margin: 0;              
    cursor: pointer;    
    cursor: pointer;
  }
  
  .items {
    list-style: none;
    padding: 0;
  }
  
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .item img {
    margin-right: 10px;
  }
  
  .item .text {
    flex-grow: 1;
  }
  
  .item.checked .text {
    text-decoration: line-through;
    color: grey;
  }
  
  /* 추가적인 스타일링을 원하시면 이곳에 작성하세요. */


.context-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
  z-index: 1000;
}

.context-menu-item {
  cursor: pointer;
  padding: 5px;
  &:hover {
    background-color: #f0f0f0;
  }
}
