.user-profile-container {
  display: flex;
  width: 340px;
  padding: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
}

.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.profile-picture {
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0; /* 이미지 크기가 텍스트에 의해 줄어들지 않도록 설정 */
  margin-right: 20px;
  width: 80px; /* 고정된 너비 */
  height: 80px; /* 고정된 높이 */
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-upper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  margin-left: 24px;
}

.user-info {
  display: flex;
  width: 192px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}
.user-name {
  color: var(--Light-Text-Primary, rgba(0, 0, 0, 0.87));
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.4%; /* 32.016px */
}

.user-id {
  color: var(--Light-Text-Primary, rgba(0, 0, 0, 0.87));
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 32px */
  letter-spacing: 0.15px;
}
.user-bio-container {
  display: flex;
  margin-left: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.user-bio {
  color: var(--Light-Text-Primary, rgba(0, 0, 0, 0.87));
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 32px */
  letter-spacing: 0.15px;
  overflow-wrap: break-word; /* 긴 텍스트가 컨테이너를 넘어가지 않도록 설정 */
}
